/* ----- BX SLIDER ----- */

    /* THEME */
.bx-wrapper {
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  border:0;
  background: #fff;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.txslider .bx-clone {
    text-align:center;
}


/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #eee;
  bottom:20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #efeee2;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background:#efeee2;
}
.bx-wrapper .bx-pager.bx-default-pager a.active
 {
  background: #666;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev,
.bx-wrapper .bx-prev:focus {
  left: 10px;
  background: url('../images/control.png') no-repeat 0 -32px;
}
.bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}
.bx-wrapper .bx-next,
.bx-wrapper .bx-next:focus {
  right: 10px;
  background: url('../images/control.png') no-repeat -43px -32px;
}
.bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}

/* ----- BX SLIDER end ----- */