@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+ScriptJulius+Sans+One|Nanum+Gothic:400,700,800|Raleway:100,200,300,400,500,600,700&subset=korean');

@font-face{
    font-family:'Julius Sans One';
    src:url(../font/JuliusSansOne-Regular.eot);
    src:local(※), url(../font/JuliusSansOne-Regular.woff)format('woff');
}


/* RESET CSS */

html, body { 
    width:100%;
    height:100%;
}

body, div, h1, h2, h3, h4, img, ul, li, a, span, p, button, input {
    margin:0;
    padding:0;
}
li { list-style:none; }
a { 
    text-decoration:none;
    color:#333;    
}
img {
    border:none;    
    max-width:100%;
}
body {    
    font-family:'나눔 고딕', '맑은 고딕','Gothic', 'Dotum', '돋움', san-serif;    
}


/* Media Query */

@media (max-width:360px){html{font-size:10px;}}
@media (min-width:361px) and (max-width:399px){html{font-size:11px;}}
@media (min-width:400px) and (max-width:439px){html{font-size:12px;}}
@media (min-width:440px) and (max-width:479px){html{font-size:13px;}}
@media (min-width:480px) and (max-width:519px){html{font-size:14px;}}
@media (min-width:520px) and (max-width:559px){html{font-size:15px;}}
@media (min-width:560px) and (max-width:599px){html{font-size:16px;}}
@media (min-width:600px) and (max-width:639px){html{font-size:17px;}}
@media (min-width:640px) and (max-width:679px){html{font-size:18px;}}
@media (min-width:680px) and (max-width:719px){html{font-size:19px;}}
@media (min-width:720px) and (max-width:759px){html{font-size:20px;}}
@media (min-width:760px) and (max-width:799px){html{font-size:21px;}}
@media (min-width:800px) and (max-width:839px){html{font-size:22px;}}
@media (min-width:840px) and (max-width:879px){html{font-size:23px;}}
@media (min-width:880px){html{font-size:24px;}}


/* Clear Fix */

.clear_fix::after {
    display:block;
    content:'';
    clear:both;
}


/* COMMON LAYOUT */

#wrap {
    position:relative;
    width:100%;
    height:100%;
}

 /* Top Button */

#top_btn {
    display:block;    
    width:40px;
    height:40px;
    position:fixed;
    bottom:20px;
    right:10px;
    background:#fff;
    border:1px solid #1b2343;
    z-index:100;
}
#top_btn span {
    display:block;
    width:40px;
    height:40px;
    background:url(../images/top_btn.png) no-repeat center center;
    background-size:30px 30px;
    text-indent:-9999em;
}


 /* Header */

#header {
    width:100%;
    height:50px;
    position:relative;
}
#header #logo {
    width:102px;
    height:30px;
    position:absolute;
    top:10px;
    left:50%;
    transform:translateX(-50%);
    font-size:20px;
}
#header #toggle_btn {
    width:30px;
    height:30px;
    background:none;
    border:0;
    position:absolute;
    top:10px;
    left:10px;
}

#header #search {
    position:absolute;
    top:10px;
    right:10px;
}
#header #search_btn {
    float:right;    
}
#header #search_wrap {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    right:0;
    background:rgba(0,0,0,.7);
    z-index:10000;
    display:none;
    opacity:0;
}
#header #search_box {
    width:100%;
    height:50px;
    position:fixed;
    top:0;
    right:0;
    background:#fff;    
    }
#header #search_box form {
    float:right;
    margin:10px 10px 0 20px;
}
#header #search_box .txt_box {
    height:30px;
    border:1px solid #666;
    border-radius:3px;
    /*text-indent:3rem;*/
    text-align:center;
    vertical-align:top;
}
#header #search_box .search_icon {
    width:29px;
    height:31px;    
    background:none;
    border:0;   
    color:#333;
}
#header #search_box #close_btn {
    float:right;      
    margin-top:10px;
}
#header #search_box #close_btn img {
    vertical-align:top;
}


 /* Side Menu */

#aside {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,.7);
    z-index:10000;
    display:none;
    opacity:0;
}
#aside #inner_side {
    width:30rem;
    height:100%;
    background:#fff;
    position:fixed;
    left:-30rem;
}
#aside #side_logo {
    text-indent:10rem;
    padding:20px 0;
}
#aside #nav > li > a {    
    display:block;
    width:100%;
    height:3rem;
    padding:.4rem 0;
    background:#1b2343;
    border-bottom:1px solid #efeee2;
    color:#efeee2;
    font-family:'Nanum Gothic', sans-serif;
    font-size:1.4rem;
    font-weight:700;
    text-indent:10rem;
    line-height:3rem;
}
#aside #nav > li:last-of-type > a {
    border-bottom:0;
}
#aside #nav ul li a {
    display:block;
    width:100%;
    height:3rem;
    padding:.2rem 0;
    background:#efeee2;
    font-family:'Nanum Gothic', sans-serif;
    font-size:1.2rem;
    font-weight:700;
    text-indent:10rem;
    line-height:3rem;
}
#aside #menu_close_btn {
    width:30px;
    height:30px;
    background:none;
    border:0;
    position:absolute;
    top:22px;
    right:1rem;    
}


 /* Footer */

#footer {
    width:100%;
    height:300px;
    background:#111;
    padding:0 10px;
    box-sizing:border-box;
}
#footer a {
    font-family:'나눔고딕', 'Nanum Gothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
}
#footer_top {
    width:100%;
    height:150px;
    border-bottom:1px solid #efeee2;
    position:relative;    
}
#footer_top #btm_logo {
    width:91px;
    height:26px;
    position:absolute;
    top:20px;
    left:0;
}
#footer_top #sns {
    position:absolute;
    top:20px;
    right:0;
}
#footer_top #sns li {
    width:25px;
    height:25px;
    float:left;
    margin-left:5px;
}
#footer_top #policy {
    width:100%;
    position:absolute;
    bottom:20px;
    font-size:11px;
    text-align:center;
    color:#efeee2;
}
#footer_top #policy a {
    font-size:11px;
    color:#efeee2;
    font-weight:bold;
}
#footer #copyright {
    font-family:'나눔 고딕', 'Nanum Gothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
    font-size:10px;
    color:#efeee2;
    width:250px;
    margin:20px auto 0;    
}


 /* Category */

#category {
    width:100%;    
    text-align:center;    
}
#category h2 {
    font-family:'Raleway',sans-serif;    
    font-weight:400;
    color:#fff;   
}


 /* Container */

  /* common */

#container {
    text-align:center;
}
#container div h2 {    
    margin:0 auto 3rem;
    padding-top:3rem;
    font-family:'Raleway', sans-serif;    
    font-weight:600;
    color:#1b2343;
    border-bottom:1px solid #bbb;
}
#container div h2 span {
    font-weight:300;
}
#container div a {
    font-weight:400;    
    border:1px solid;
    border-radius:3px;
    font-family:'나눔 고딕', 'Nanum Gothic', sans-serif;
}


/* MAIN */

 /* Main Banner */

#main_banner {
    width:100%;
    position:relative;
    text-align:center;   
}
#main_banner li {
    width:100%;
    height:100%;
    position:absolute;
}
#main_banner .img_box {
    width:100%;    
}
#main_banner .txt_box {
    box-sizing:border-box;
    position:absolute;    
    top:0;
    left:50%;
    transform:translateX(-50%);    
}
#main_banner .txt_box span:nth-of-type(1) {
    display:block;
    font-family:'Julius Sans One', sans-serif;    
    color:#efeee2;    
}
#main_banner .txt_box span:nth-of-type(2) {
    display:block;
    font-family:'Raleway', sans-serif;    
    font-weight:300;
    color:#fff;
}
#main_banner .txt_box a {    
    display:inline-block;    
    box-sizing:border-box;
    color:#efeee2;
    font-family:'나눔 고딕', 'Nanum Gothic', sans-serif;    
    border:1px solid #efeee2;
    border-radius:3px;    
    position:absolute;
    bottom:20%;
    transform:translateX(-50%);
}


 /* Main Container */

  /* main con1 */

#main_con1 div {    
    position:relative;
}
#main_con1 span {
    font-family:'Raleway','Gothic',sans-serif;    
    font-weight:500;
    color:#232323;    
    position:absolute;    
    left:50%;
    transform:translateX(-50%);
}
#main_con1 a {
    position:absolute;    
    left:50%;
    transform:translateX(-50%);
    color:#1b2343;
    border-color:#1b2343;
}

  /* main con2 */

#main_con2 {
    padding:10px;
    padding-top:0;
}
#main_con2 h3 {        
    margin:0 auto;    
    font-family:'Raleway',sans-serif;    
    font-weight:500;    
    text-align:left;
}
#main_con2 p {    
    margin:0 auto;
    text-align:left;
    font-family:'Nanum Gothic';    
    font-weight:bold;    
}

  /* main con3 */

#container #main_con3 {
    margin-bottom:0;
}
#main_con3 div {    
    box-sizing:border-box;
    position:relative;
    overflow:hidden;
}
#main_con3 h3 {    
    position:absolute;   
    left:50%;
    transform:translateX(-50%);
    font-family:'Raleway';    
}
#main_con3 p {
    position:absolute;    
    left:50%;
    transform:translateX(-50%);
    font-family:'맑은 고딕', 'Malgun Gothic', sans-serif;    
}
#main_con3 a {
    position:absolute;
    bottom:14%;
    left:50%;
    transform:translateX(-50%);
    color:#fff;
    border-color:#fff;    
}
#main_con3 div:nth-of-type(1) h3 {    
    top:24%;
    font-weight:100;
    color:#efeee2;
}
#main_con3 div:nth-of-type(2) h3 {
    width:100%;
    top:16%;    
    font-weight:400;
    color:#efefef;
}
#main_con3 div:nth-of-type(3) h3 {
    top:20%;
    font-weight: 300;
    color:#efeee2;
}
#main_con3 div:nth-of-type(3) p {    
    top:38%;    
    color:#efeee2;    
}
#main_con3 div:nth-of-type(4) h3 {
    top:20%;
    width:100%;
    font-family:'맑은 고딕', 'Malgun Gothic', sans-serif;    
    color:#efeee2;
}
#main_con3 div:nth-of-type(4) p {
    width:100%;
    top:48%;
    color:#efefef;
}


/* ABOUT US  */    

 /* About Container */

  /* common */

.about_wrap h3 {    
    font-family:'Raleway',sans-serif;    
    font-weight:600;
    color:#1b2343;
}


  /* about con1 */

#about_con1 .txt_box {
    box-sizing:border-box;
}
#about_con1 p {
    font-family:'맑은 고딕', 'Malgun Gothic', sans-serif;    
    color:#1b2343;
}
#about_con1 p span {
    font-family:'Raleway',sans-serif;    
    font-weight:200;
}


  /* about con2 */

#about_con2 {
    margin:0 10px;    
    border-top:1px solid #dedede;
}
#about_con2 #con2_box {    
    margin:0 auto;    
    box-sizing:border-box;
}
#about_con2 #con2_box div {
    float:left;
}
#about_con2 #con2_box div:last-of-type {
    margin:0;
}
#about_con2 #con2_box p {    
    font-family:'맑은 고딕', 'Malgun Gothic',sans-serif;    
    color:#3c3734;
}


  /* about con3 */

#container #about_con3 {
    margin-bottom:0;
}
#about_con3 > div {
    box-sizing:border-box;           
}
#about_con3 .txt_box {
    width:100%;
    height:100%;
    background:rgba(255,255,255,.2);
    text-align:left;
    color:#3c3734;   
}
#about_con3 h3 {
    padding:2rem 0 .5rem;
}
#about_con3 h4 {    
    font-family:'Raleway', sans-serif;    
    font-weight:500;
    color:rgba(0,0,0,.8);
}
#about_con3 p {
    font-family:'나눔 고딕', 'Nanum Gothic', sans-serif;    
    color:#111;
}
#about_con3 #con3_tech {    
    background:url(../images/m_a00_tech_bg.png) no-repeat top left;
    background-size:cover;
}
#about_con3 #con3_mat {    
    background:url(../images/m_a00_mat_bg.png) no-repeat top center;
    background-size:cover;
}
#about_con3 #con3_mat p {    
    padding:.8rem 0 .5rem;
}
#about_con3 #con3_mat p:nth-of-type(1) {
     font-weight:bold;
     color:#232323;
}
#about_con3 #con3_mat p:nth-of-type(2) {
    font-weight:bold;
    padding-top:20px;
    color:#121212;
}
#about_con3 #con3_mat p span {
    font-weight:bold;    
}


/* PRODUCT Page Common */

.product_box {
    padding:0 10px;
}

  /* font */

.product_box h3 {
    font-family:'Julius Sans One', sans-serif; 
}
.product_box h3 span {
    font-family:'Raleway', sans-serif;
    font-weight:100;    
}
.product_box p {
    font-family:'맑은 고딕', 'Malgun Gothic', sans-serif;
}
.product_box p span {
    font-family:'Raleway', sans-serif;    
}

.product_event {
    width:calc(100% - 20px);    
    margin:0 10px;
}


/* HEADPHONE */

 /* Headphone Container */

  /* common */

.headphone_wrap .product_box .img_box {    
    overflow:hidden;
}
.headphone_wrap .product_box .img_box img {
    display:block;    
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
}
.headphone_wrap .product_box .txt_box {    
    box-sizing:border-box;
    background:rgba(60,55,52,.8);
    color:#fff;    
}
.headphone_wrap a {
    display:inline-block;
    color:#fff;
    border:#fff;
}


  /* headphone con1*/

#container #hp_con1 {
    margin-top:6rem;
}
#hp_con1 .img_box {
    background:url(../images/m_b00_h1_bg.jpg) no-repeat top center;
    background-size:cover;
}

  /* headphone con2 */

#hp_con2 .img_box {
    background:url(../images/m_b00_h2_bg.jpg) no-repeat top center;
    background-size:cover;
}


  /* headphone event */

#hp_event {
    background:url(../images/m_b00_event_bg.jpg) no-repeat center center;
    background-size:cover;
    position:relative;
}
#hp_event .txt_box {    
    border:1px solid #efeee2;
    box-sizing:border-box;
    color:#efeee2;
    text-align:center;
    position:absolute;    
    left:50%;
    transform:translateX(-50%);
}
#hp_event .txt_box h3 {
    font-family:'Raleway', sans-serif;    
    font-weight:100;
}
#hp_event .txt_box p {    
    font-family:'나눔 고딕', 'Nanum Gothic', sans-serif;       
}
#hp_event img {
    position:absolute;    
    bottom:0;
}


/* EVENT */

 /* Event Container */

.event_box:nth-of-type(2n+1) {
    background:#eee;  
}
.event_box > span {
    display:block;    
    box-sizing:border-box;
    font-family:'Raleway', sans-serif;
    font-weight:600;
    color:#1b2343;
    text-align: center;    
}
.event_box .txt_box {
    font-family:'나눔 고딕', 'Nanum Gothic', sans-serif;
    text-align:left;    
}
.event_box .txt_box h3 {    
    font-weight:700;
    color:#1b2343;
}
.event_box .txt_box h4 {    
    font-weight:700;
    color:#3c3734;    
}
.event_box .txt_box p {    
    color:#3c3734;        
}
.event_box .txt_box span {
    font-weight:700;
}

  /* font color */

span.dark_red {
    color:#963736;
}
span.dark_blue {
    color:#1b2343;
}


/* WAIT */

.wait_wrap {
    padding:0 10px;
}



/* Mobile 759px 이하 */


@media all and (max-width:599px){

    
     /* Header */

    #header #search_box .txt_box {
        /* mobile */
        width:22rem;
    }

    
     /* Category */

    #category {
        /* mobile */
        height:15rem;
        line-height:15rem;
    }
    #category h2 {
        /* mobile */
        font-size:3rem;
    }

    
     /* Container */

      /* common */
    
    #container > div {
        /* mobile */
        margin-bottom:6rem;
    }
    #container div h2 {
        /* mobile */
        width:15rem;
        font-size:2.6rem;
    }
    #container div a {
        /* mobile */
        padding:0.6rem 0.8rem;
        font-size:1.2rem;        
    }    

    
    /* Main */
    
     /* Main Banner */

    #main_banner .img_box {
        /* mobile */
        height:32rem;
    }
    #main_banner .slide01 .img_box {
        /* mobile */
        background:url(../images/m_main_banner1.jpg) no-repeat center center;
        background-size:cover;
    }
    #main_banner .slide02 .img_box {
        /* mobile */
        background:url(../images/m_main_banner2.jpg) no-repeat center center;
        background-size:cover;
    }
    #main_banner .slide03 .img_box {
        /* mobile */
        background:url(../images/m_main_banner3.jpg) no-repeat center center;
        background-size:cover;
    }
    #main_banner .txt_box {
        /* mobile */
        width:32rem;
        height:32rem;
        padding:4rem;
    }
    #main_banner .txt_box span:nth-of-type(1) {
        /* mobile */
        font-size:2.8rem;
        margin:4rem 0 2rem;
    }
    #main_banner .txt_box span:nth-of-type(2) {
        /* mobile */
        font-size:1.8rem;
    }
    #main_banner .txt_box a {
        /*mobile */
        padding:0.6rem 0.8rem;
        font-size:1.2rem;    
    }


      /* main con1 */

    #main_con1 div {
        /* mobile */
        margin:10px;
        box-sizing:border-box;
        position:relative;
        box-shadow: .1rem .1rem .5rem .1rem rgba(50,50,50,.1);
    }
    #main_con1 span {
        /* mobile */
        font-size:1.8rem;
        top:8%;
    }
    #main_con1 a {
        /* mobile */
        bottom:8%;
    }

    
      /* main con2 */

    #main_con2 div {
        /* mobile */
        width:100%;
        height:16rem;
        padding-bottom:3rem;
        background:rgba(0,0,0,0.4);
        border-radius:3px;
    }
    #main_con2 div:nth-of-type(1) {
        margin-bottom:1rem;
    }

    #main_con2 h3 {
        /* mobile */
        width:21rem;
        padding:2.4rem 0 1rem;
        font-family:'nanummyeongjo', '나눔명조', 'myeongjo', serif;
        font-size:2rem;
        font-weight:bold;
        color:#efeee2;
    }
    #main_con2 p {
        /* mobile */
        width:21rem;
        font-size:1.2rem;
        color:#eee;
        line-height:3rem; 
    }
    

      /* main con3 */

    #main_con3 div {
        /* mobile */
        width:calc(100% - 20px);
        height:100vmin;
        margin:0 10px;
        margin-bottom:1rem;
    }
    #main_con3 h3 {
        /* mobile */
        font-size:3.4rem;
    }
    
    #main_con3 div:nth-of-type(1) {
        /* mobile */    
        background:url(../images/m_main_dtl1_img.jpg) no-repeat bottom center;
        background-size:cover;
    }
    
    #main_con3 div:nth-of-type(2) {
        /* mobile */
        background:url(../images/m_main_dtl2_img.jpg) no-repeat center center;
        background-size:cover;
    }
    
    #main_con3 div:nth-of-type(3) {
        /* mobile */
        background:url(../images/m_main_event1_img.jpg) no-repeat center center;
        background-size:cover;
    }
    #main_con3 div:nth-of-type(3) p {
        /* mobile */
        font-size:1.8rem;
        line-height:2.6rem;
    }
    
    #main_con3 div:nth-of-type(4) {
        /* mobile */
        background:url(../images/m_main_event2_img.jpg) no-repeat center center;
        background-size:cover;
    }    
    #main_con3 div:nth-of-type(4) h3 {
        /* mobile */
        font-size:2.6rem;
    }
    #main_con3 div:nth-of-type(4) p {
        /* mobile */
        font-size:1.6rem;
        line-height:2.6rem;
    }

    
     /* ABOUT US  */    

      /* About Category */
    
    .about_category {    
        /* mobile */
        background:url(../images/m_a00_category.jpg) no-repeat center center;
        background-size:cover;
    }


     /* About Container */
    
      /* common */

    .about_wrap h3 {
        /* mobile */
        margin-bottom:2.4rem;
        font-size:2.4rem;
    }
    
    
      /* about con1 */

    #container #about_con1 {
        /* mobile */
        margin-top:6rem;
    }
    #about_con1 img {
        /* mobile */        
        width:22rem;
        height:22rem;
    }
    #about_con1 .txt_box {
        /* mobile */
        width:100%;
        height:32rem;
        padding:2rem;
    }
    #about_con1 p {
        /* mobile */
        font-size:1.2rem;
    }
    #about_con1 p span {
        /* mobile */
        font-size:2rem;
    }


      /* about con2 */

    #about_con2 {
        /* mobile */
        padding:6rem 0 2rem;
    } 
    #about_con2 #con2_box {
        /* mobile */
        width:100%;
    }
    #about_con2 #con2_box div {
        /* mobile */
        width:calc(100% * 1/3);
        padding:2px;
        box-sizing:border-box;    
    }
    #about_con2 #con2_box p {
        /* mobile */
        font-size:1rem;
        margin-top:1rem;
    }

    
      /* about con3 */

    #about_con3 > div {    
        /* mobile */
        width:100%;
        height:32rem;
    }
    #about_con3 h3, #about_con3 h4, #about_con3 p {
        /* mobile */
        width:28rem;
        margin:0 auto;
    }
    #about_con3 h4 {
        /* mobile */
        font-size:1.5rem;
        padding:.8rem 0 .5rem;
    }

    #about_con3 #con3_tech p {
        /* mobile */
        font-size:1rem;
        line-height:1.6rem;
    }
    #about_con3 #con3_mat p span {
        /* mobile */
        font-size:1.2rem;
    }
    #about_con3 #con3_mat p:nth-of-type(1) {
        /* mobile */
        font-size:1rem;
        line-height:2rem;
    }
    #about_con3 #con3_mat p:nth-of-type(2) {
        /* mobile */
        font-size:1.2rem;
        line-height:2rem;
    }
    


    /* PRODUCT Page Common */

      /* Container */

    .product_box .img_box {
        /* mobile */
        height:32rem;
    }
    .product_box > .txt_box {
        /* mobile */
        width:100%;
        height:28rem;
        margin:0 auto;    
    }
    .product_event {
        /* mobile */
        height:32rem;
    }

      /* font */

    .product_box h3 {
        /* mobile */
        margin-bottom:1.4rem;
        font-size:2.2rem;
    }
    .product_box p {
        /* mobile */        
        font-size:1.3rem;        
    }


    /* HEADPHONE */

     /* Headphone Category */

    .headphone_category {    
        /* mobile */
        background:url(../images/m_b00_category.jpg) no-repeat center center;
        background-size:cover;
    }

     /* Headphone Container */

       /* common */

    .headphone_wrap .product_box .img_box {
        /* mobile */
        position:relative;
    }
    .headphone_wrap .product_box:nth-of-type(1) .img_box img {
        /* mobile */
        width:19rem;
        height:28rem;
    }
    .headphone_wrap .product_box:nth-of-type(2) .img_box img {
        /* mobile */
        width:15.8rem;
        height:28rem;
    }
    .headphone_wrap .product_box .txt_box {
        /* mobile */
        padding-top:3rem;
        box-sizing:border-box;
    }
    .headphone_wrap .txt_box a {
        /* mobile */
        margin-top:2rem;
    }


      /* headphone event */

    #hp_event .txt_box {
        /* mobile */
        width:80%;
        height:26rem;
        padding:3.2rem;
        top:3rem;
    }
    #hp_event .txt_box h3 {
        font-size:2.6rem;
    }
    #hp_event .txt_box p {
        margin-top:1rem;
        font-size:1.2rem;
        line-height:1.8rem; 
    }
    #hp_event img {    
        /* mobile */
        left:-15px;
        max-width:46%;
    }

    
    /* EVENT */

     /* Event Category */

    .event_category {
        /* mobile */
        background:url(../images/m_e03_category.jpg) no-repeat center center;
        background-size:cover;    
    }
    
     /* Event Container */

    #container .event_box {
        /* mobile */
        margin-bottom:0;
    } 
    .event_box{
        /* mobile */
        padding-top:6rem;
    }
    .event_box > span {
        /* mobile */
        padding:2rem 0;
        font-size:2.4rem;
    }
    .event_box .img_box {    
        /* mobile */
        padding:0 10px;
        margin-bottom:2rem;
    }
    .event_box .txt_box {
        /* mobile */
        width:18rem;    
        margin:0 auto;
        padding-bottom:4rem;
        box-sizing:border-box; 
    }
    .event_box .txt_box h3 {
        font-size:1.8rem;
    }
    .event_box .txt_box h4 {
        margin:.5rem 0;
        font-size:1.2rem;
        line-height:2rem;
    }
    .event_box .txt_box p {
        font-size:1rem;
        line-height:1.6rem;
    }


    /* EARPHONE */

    .earphone_category {
        /* mobile */    
        background:url(../images/m_c00_category.jpg) no-repeat center center;
        background-size:cover;
    }
    

    /* SPEAKER */

    .speaker_category {    
        /* mobile */
        background:url(../images/m_d00_category.jpg) no-repeat top center;    
        background-size:cover;
    }

    /* SUPPORT */

    .support_category {    
        /* mobile */        background:url(../images/m_e00_category.jpg) no-repeat center center;
        background-size:cover;
    }
    
    /* WAIT */
 
    .wait_wrap > div {
        /* mobile */
        margin:6rem 0;
    }
    
    
}/* Mobile end */





/* tablet_1 600px - 759px */


@media all and (min-width:600px) and (max-width:759px) {

    
     /* Header */

    #header #search_box .txt_box {
        /* tablet_1 */
        width:20rem;
    }      

    
     /* Footer */

    #footer {
      /* tablet_1 */    
      height:220px;
    }
    #footer_top {
        /* tablet_1 */
        height:70px;
    }


     /* Container */

      /* common */

    #container > div {
        /* tablet_1 */
        margin-bottom:4rem;    
    }
    #container h2 {
        /* tablet_1 */
        width:9rem;
        font-size:1.6rem;
    }
    #container div a {
        /* tablet_1 */
        padding:0.4rem 0.5rem;
        font-size:.7rem;        
    }

    
    /* MAIN */

     /* Main Banner */    

    #main_banner {
        /* tablet_1 */
        height:20rem;
        position:relative;
        text-align:center;
        margin-bottom:2rem;
    }
    #main_banner li.slide01 {
        /* tablet_1 */
        background:url(../images/main_banner1.jpg) no-repeat center center;
        background-size:cover;   
    }
    #main_banner li.slide02 {
        /* tablet_1 */
        background:url(../images/main_banner2.jpg) no-repeat center center;
        background-size:cover;    
    }
    #main_banner li.slide03 {
        /* tablet_1 */
        background:url(../images/main_banner3.jpg) no-repeat center center;
        background-size:cover;
    }
    #main_banner .txt_box {
        /* tablet_1 */
        width:20rem;
        height:20rem;
        padding:3rem;
    }
    #main_banner .txt_box span:nth-of-type(1) {
        /* tablet_1 */
        padding:2rem 0 1rem;
        font-size:1.9rem;
    }
    #main_banner .txt_box span:nth-of-type(2) {
        /* tablet_1 */
        font-size:1.3rem;
    }
    #main_banner .txt_box a {
        /* tablet_1 */
        padding:.4rem .5rem;
        font-size:.7rem;
    }


      /* main con1 */

    #main_con1 {
        /* tablet_1 */
      margin:0 10px;
      box-sizing:border-box;
    }
    #main_con1 div {
        /* tablet_1 */
        width:calc(100%/3);
        float:left;
        box-sizing:border-box;
        position:relative;
    }
    #main_con1 span {
        /* tablet_1 */
        font-size:.9rem;
        top:8%;
    }
    #main_con1 a {
        /* tablet_1 */
        padding:.2rem .4rem;
        font-size:.5rem;
        bottom:5%;
    }

      /* main con2 */
    
    #main_con2 div {
        /* tablet_1 */
        width:70%;
        height:14rem;
        padding:2rem 0 2rem 4rem;
        box-sizing:border-box;
        margin:0 auto 1rem;   
    }
    #main_con2 #tech_box {
        /* tablet_1 */
        background:url(../images/m_main_tech_img.jpg) no-repeat left center;
        background-size:cover;
        position:relative;
    }
    #main_con2 #tech_box:before {
        /* tablet_1 */    
        display:block;
        content:'';
        width:100%;
        height:inherit;
        position:absolute;
        top:0;
        left:0;
        background:rgba(220,220,220,.1);        
    }
     #main_con2 #mat_box {
        /* tablet_1 */ 
        background:url(../images/m_main_mat_img.jpg) no-repeat center center;
        background-size:cover;
        position:relative;
    }
    #main_con2 #mat_box:before {
        /* tablet_1 */
        display:block;
        content:'';
        width:100%;
        height:inherit;
        position:absolute;
        top:0;
        left:0;
        background:rgba(220,220,220,.1);        
    }
    #main_con2 h3 {
        /* tablet_1 */
        padding:1rem 0;
        color:#1b2343;
        font-size:1.4rem;
    }
    #main_con2 p {
        /* tablet_1 */
        color:#232323;
        font-size:.8rem;
        line-height:2rem;
    }

      /* main con3 */

    #main_con3 {
        /* tablet_1 */
        padding:0 10px 10px;
    }
    #main_con3 div {
        /* tablet_1 */    
        float:left;
        height:17rem;
        margin-bottom:10px;
    }
    #main_con3 div:nth-of-type(1) {
        /* tablet_1*/
        width:100%;
        background:url(../images/main_dtl1_img.jpg) no-repeat bottom center;
        background-size:cover;
    }    
    #main_con3 div:nth-of-type(2){
        /* tablet_1 */
        width:calc(50% - 5px);
        margin-right:5px;
        background:url(../images/main_dtl2_img.jpg) no-repeat center center;
        background-size:cover;
    }
    #main_con3 div:nth-of-type(3) {
        /* tablet_1 */
        width:calc(50% - 5px);
        margin-left:5px;    
        background:url(../images/main_event1_img.jpg) no-repeat center center;
        background-size:cover;
    }   
    #main_con3 div:nth-of-type(4) {
        /* tablet_1 */
        width:100%;
        margin:0;
        background:url(../images/main_event2_img.jpg) no-repeat center center;
        background-size:cover;
    }

    #main_con3 h3 {
        /* tablet_1 */
        font-size:2.2rem;
    }
    #main_con3 div:nth-of-type(3) p {
        /* tablet_1 */
        font-size:.9rem;
        line-height:1.2rem;
    }
    #main_con3 div:nth-of-type(4) h3 {
        /* tablet_1 */
        font-size:1.4rem;
    }
    #main_con3 div:nth-of-type(4) p {
        /* tablet_1 */
        font-size:.8rem;
        line-height:1.2rem;
    }
    #main_con3 a {
        /* tablet_1 */
        padding:.4rem .6rem;
        font-size:.7rem;
    }

    
     /* Category */

    #category {
        /* tablet_1 */
        height:14rem;
        line-height:12rem;
    }
    #category h2 {
        /* tablet_1 */
        font-size:2.6rem;
    }


    /* ABOUT US  */    

     /* About Category */
    
    .about_category {
        /* tablet_1 */
        background:url(../images/a00_category.jpg) no-repeat center center;
        background-size:cover;
    }


     /* About Container */
    
    .about_wrap h3 {
        /* tablet_1 */
        margin-bottom:1rem;
        font-size:1.5rem;
    }
    
      /* about con1 */

    #about_con1 {
        /* tablet_1 */
        width:100%;
        margin-top:4rem;
        padding:0 10px;
        box-sizing:border-box;
    }
    #about_con1 img, #about_con1 div {
        /* tablet_1 */
        float:left;
    }
    #about_con1 img {
        /* tablet_1 */
        width:calc(50% - 10px );
    }
    #about_con1 .txt_box {
        /* tablet_1 */
        width:calc(50% - 10px);
    }
    #about_con1 p {
        font-size:.8rem;
    }
    #about_con1 p span {
        font-size:1.3rem;
    }
    

      /* about con2 */
    
    #about_con2 {
        /* tablet_1 */
        padding:4rem 0 0;
    }
    #about_con2 #con2_box {
        /* tablet_1 */
        max-width:540px;
        padding:0;
    }
    #about_con2 #con2_box div {
        /* tablet_1 */
        width:180px;
        padding:.6rem;
        box-sizing:border-box;
    }
     #about_con2 #con2_box p {
         /* tablet_1 */
        font-size:.7rem;
        margin-top:.8rem;
    }
    

      /* about con3 */    

    #about_con3 > div {    
        /* tablet_1 */
        width:100%;
        height:22rem;
    }    
    #about_con3 h3, #about_con3 h4, #about_con3 p {
        /* tablet_1 */
        width:28rem;
        margin:0 auto;
    }
    #about_con3 h4 {
        /* tablet_1 */
        font-size:1rem;
        padding:.4rem 0 .2rem;
    }
    #about_con3 p {
        /* tablet_1 */
        font-size:.7rem;
        line-height:.9rem;
    }
    #about_con3 #con3_tech p {
        /* tablet_1 */
        font-size:.7rem;
        line-height:1.2rem;
    }
    #about_con3 #con3_mat p span {
        /* tablet_1 */
        font-size:.8rem;
    }
    #about_con3 #con3_mat p:nth-of-type(1) {
        /* tablet_1 */
        font-size:.7rem;
        line-height:1.6rem;
    }
    #about_con3 #con3_mat p:nth-of-type(2) {
        /* tablet_1 */
        font-size:.9rem;
        line-height:1.6rem;
    }    


    /* PRODUCT page Common */

      /* Container */
    
    .product_box {
        /* tablet_1 */
        height:20rem;
        box-sizing:border-box;
        position:relative;
    }
    .product_box .img_box {
        /* tablet_1 */
        width:calc(100% * 2/3);
        height:20rem;
    }
    .product_box > .txt_box {
        /* tablet_1 */
        width:45%;
        height:18rem;
        margin:0 auto;
     }
    .product_event {
        /* tablet_1 */
        height:20rem;
    }

      /* font */
    
    .product_box h3 {
        /* tablet_1 */
       margin-bottom:1.2rem;
       font-size:1.2rem;
    }
    .product_box p {
        /* tablet_1 */
        font-size:.7rem;
        line-height:1.1rem;
    }


    /* HEADPHONE */

     /* Headphone Category */

    .headphone_category {    
        /* tablet_1 */
        background:url(../images/b00_category.jpg) no-repeat center center;
        background-size:cover;
    }

     /* Headphone Container */

      /* common */

    .headphone_wrap .product_box .img_box {
        /* tablet_1 */
        position:absolute;
    }
    .headphone_wrap .product_box:nth-of-type(1) .img_box img {
        /* tablet_1 */
        width:13rem;
    }
    .headphone_wrap .product_box:nth-of-type(2) .img_box img {
        /* tablet_1 */
        width:10rem;
    }
    .headphone_wrap .product_box .txt_box {
        /* tablet_1 */
        padding-top:2rem;
        position:absolute;    
        top: 50%;
        transform:translateY(-50%);
        z-index:100;
    }
    .headphone_wrap .txt_box a {
        /* tablet_1 */
        margin-top:1.2rem;
    }


      /* headphone con1*/

    #hp_con1 .img_box {
        /* tablet_1 */
        left:10px;
    }
    #hp_con1 .txt_box {
        /* tablet_1 */
        right:10px;
    }

    
      /* headphone con2 */

    #hp_con2 .img_box {
        /* tablet_1 */
        right:10px;
    }

    #hp_con2 .txt_box {
        /* tablet_1 */
        left:10px;
    }

    
      /* headphone event */

    #hp_event .txt_box {
        /* tablet_1 */
        width:60%;
        height:16rem;
        padding:1rem;
        top:2rem;
    }
    #hp_event .txt_box h3 {
        /* tablet_1 */
        font-size:1.7rem;
    }
    #hp_event .txt_box p {
        /* tablet_1 */
        margin-top:.8rem;
        font-size:.7rem;
        line-height:1.2rem; 
    }
    #hp_event img {    
        /* tablet_1 */
        left:10%;
        width:30%;
    }


    /* EVENT */

     /* Event Category */

    .event_category {
        /* tablet_1 */
        background:url(../images/e03_category.jpg) no-repeat center center;
        background-size:cover;
    }
    
     /* Event Container */

    #container .event_box {
        /* tablet_1 */
        margin-bottom:0;
    }
    .event_box{
        /* tablet_1 */
        padding-top:4rem;
    }
    .event_box > span {
        /*  tablet_1 */
        padding:1.5rem 0;
        font-size:1.6rem;
    }
    .event_box .img_box {    
        /* tablet_1 */
        width:18rem;
        margin:0 auto;
    }
    .event_box .txt_box {
        /* tablet_1 */
        width:18rem;    
        margin:0 auto;
        padding:1rem 0 3rem;
        box-sizing:border-box; 
    }
    .event_box .txt_box h3 {
        font-size:1.2rem;
    }
    .event_box .txt_box h4 {
        margin:5px 0;
        font-size:1rem;
        line-height:1.6rem;
    }
    .event_box .txt_box p {
        font-size:.7rem;
        line-height:1.2rem;
    }


    /* EARPHONE */

    .earphone_category { 
        /* tablet_1 */        background:url(../images/c00_category.jpg) no-repeat center center;
        background-size:cover;
    }   

    
    /* SPEAKER */
    .speaker_category {    
        /* tablet_1 */        background:url(../images/d00_category.jpg) no-repeat top center;    
        background-size:cover;
    }
    

    /* SUPPORT */
    .support_category {    
        /* tablet_1 */        background:url(../images/e00_category.jpg) no-repeat center center;
        background-size:cover;
    }
    
    
    /* WAIT */
    .wait_wrap > div {
        /* tablet_1 */
        margin:4rem 0;
    }
    
    
}/* tablet_1 end */





/* Tablet 760px이상 */

@media all and (min-width:760px){

    
     /* Header */

    #header {
      /* tablet */    
      padding:1rem;
      box-sizing:border-box;
    }
    #header #search_box .txt_box {
        /* tablet */
        width:20rem;
    }      

    
     /* Footer */

    #footer {
      /* tablet */    
      height:220px;
    }
    #footer_top {
        /* tablet */
        height:70px;
    }
    
    
     /* Container */
    
    #container > div {
        /* tablet */
        margin-bottom:4rem;    
    }
    #container h2 {
        /* tablet */
        width:10rem;
        font-size:1.6rem;
    }
    #container  div a {
        /* tablet */
        font-size:.6rem;
        padding:.4rem; .6rem;
    }

    
    /* MAIN */

     /* Main Banner */

    #main_banner {
        /* tablet */
        height:21rem;
        position:relative;
        text-align:center;
        margin-bottom:2rem;
    }
    #main_banner li img {
        /* tablet */
        display:none;
    }
    #main_banner li.slide01 {
        /* tablet */
        background:url(../images/main_banner1.jpg) no-repeat center center;
        background-size:cover;   
    }
    #main_banner li.slide02 {
        /* tablet */
        background:url(../images/main_banner2.jpg) no-repeat center center;
        background-size:cover;    
    }
    #main_banner li.slide03 {
        /* tablet */
        background:url(../images/main_banner3.jpg) no-repeat center center;
        background-size:cover;
    }
    #main_banner .txt_box {
        /* tablet */
        width:24rem;
        height:21rem;
        padding:2.4rem;
    }
    #main_banner .txt_box span:nth-of-type(1) {
        /* tablet */
        padding:2rem 0 1rem;
        font-size:2.2rem; 
    }
    #main_banner .txt_box span:nth-of-type(2) {
        /* tablet */
        font-size:1.6rem;
    }
    #main_banner a {
        /* tablet */
        padding:.4rem .5rem;
        font-size:.8rem;     
    }

    
     /* Main Container */

      /* main con1 */
    
    #main_con1 {
        /* tablet */
      padding:0 10px;
      box-sizing:border-box;
    }
    #main_con1 div {
        /* tablet */
        width:calc(100%/3);
        float:left;
        position:relative;
    }
    #main_con1 span {
        /* tablet */
        font-size:1rem;
        top:8%;
    }
    #main_con1 a {
        /* tablet */
        padding:.3rem .5rem;
        font-size:.7rem;
        bottom:6%;
    }

    
      /* main con2 */

    #main_con2 {
        /* tablet */
        width:calc(100% - 20px);    
        margin:0 auto;    
    }
    #main_con2 div {
        /* tablet */
        width:50%;
        height:14rem;
        border-bottom:2rem;
        float:left;
    }
    #main_con2 #tech_box {
        /* tablet */
        background:url(../images/m_main_tech_img.jpg) no-repeat left center;
        background-size:cover;
    }
    #main_con2 #mat_box {
        /* tablet */
        background:url(../images/m_main_mat_img.jpg) no-repeat center center;
        background-size:cover;
    }    
    #main_con2 h3 {
        /* tablet */    
        padding:2.6rem 0 .5rem 2rem;
        box-sizing:border-box;
        font-size:1.4rem;
    }
    #main_con2 p {
        /* tablet */   
        padding:1rem 0 0 2rem;
        box-sizing:border-box;
        font-size:.8rem;
        line-height:1.8rem;
    }

     
      /* main con3 */

    #main_con3 {
        /* tablet */
       margin:0 10px;
    }

    #main_con3 div {
        /* tablet */    
        float:left;
        height:13rem;
        margin-bottom:10px; 
    }    
    #main_con3 div:nth-of-type(1) {
        /* tablet */
        width:calc(66.6666% - 10px);
        margin-right:10px;
        background:url(../images/main_dtl1_img.jpg) no-repeat bottom center;
        background-size:cover;
    }
    #main_con3 div:nth-of-type(2) {
        /* tablet */
        width:calc(100% * 1/3);
        background:url(../images/main_dtl2_img.jpg) no-repeat center center;
        background-size:cover;
    }
    #main_con3 div:nth-of-type(3) {
        /* tablet */
        width:calc(100% * 1/3);
        background:url(../images/main_event1_img.jpg) no-repeat center center;
        background-size:cover;
    }
    #main_con3 div:nth-of-type(4) {
        /* tablet */
        width:calc(66.6666% - 10px);
        margin-left:10px;
        background:url(../images/main_event2_img.jpg) no-repeat center center;
        background-size:cover;
    }
    #main_con3 h3 {
        /* tablet */
        font-size:1.8rem;
    }
    #main_con3 div:nth-of-type(3) h3 {
        /* tablet */
        top:14%;    
    }
    #main_con3 div:nth-of-type(3) p {
        /* tablet */
        top:32%;
        font-size:.8rem;
        line-height:1rem;
    }
    #main_con3 div:nth-of-type(4) h3 {
        /* tablet */
        font-size:1.2rem;
        top:16%;
    }    
    #main_con3 div:nth-of-type(4) p {
        /* tablet */
        font-size:.7rem;
        line-height:1rem;
    }
    #main_con3 div a {
        /* tablet */
        padding:.4rem .5rem;
        font-size:.7rem;
        bottom:16%;
    }

    
     /* Category */ 

    #category {
        /* tablet */
        height:12rem;
        line-height:12rem;        
    }
    #category h2 {
        /* tablet */
        font-size:2rem;
    }

    
    /* ABOUT US  */    

     /* About Category */
    
    .about_category {
        /* tablet */
        background:url(../images/a00_category.jpg) no-repeat center center;
        background-size:cover;
    }

    
     /* About Container */

    .about_wrap h3 {
        margin-bottom:1rem;
        font-size:1.2rem;
    }

    
      /* about con1 */

    #about_con1 {
        /* tablet */
        width:30rem;
        margin:0 auto;
        margin-top:4rem;
    }
    #about_con1 img, #about_con1 div {
        /* tablet */
        float:left;
    }
    #about_con1 img {
        /* tablet */
        width:50%;
    }
    #about_con1 .txt_box {
        /* tablet */
        width:50%;
        padding-left:1rem;
    }
    #about_con1 p {
        font-size:.7rem;
    }
    #about_con1 p span {
        font-size:1.2rem;
    }
    
    
      /* about con2 */

    #about_con2 {
        /* tablet */
        padding:4rem 0 0;
    }    
    #about_con2 #con2_box {
        /* tablet */
        width:30rem;
    }
    #about_con2 #con2_box div {
        /* tablet */
        width:9rem;
        margin-right:1.5rem;
    }
    #about_con2 #con2_box p {
        /* tablet */
        font-size:.7rem;
        margin-top:.7rem;
    }
    

      /* about con3 */
    
    #about_con3 > div {
        /* tablet */
        width:50%;
        height:21rem;
        float:left;
    }
    #about_con3 h3, #about_con3 h4, #about_con3 p {
        /* tablet */
        width:16rem;
        margin:0 auto;
    }

    #about_con3 h4 {
        /* tablet */
        font-size:.9rem;
        padding:.4rem 0 .2rem;
    }
    #about_con3 p {
        /* tablet */
        font-size:.6rem;
        line-height:1rem;
    }
    #about_con3 #con3_mat p span {
        /* tablet */
        font-size:..65rem;    
    }
    #about_con3 #con3_tech p {
        /* tablet */
        font-size:.6rem;
        line-height:1rem;
    }
    #about_con3 #con3_mat p:nth-of-type(1) {
        /* tablet */
        font-size:.6rem;
        line-height:1.2rem;
    }
    #about_con3 #con3_mat p:nth-of-type(2) {
        /* tablet */
        font-size:.7rem;
        line-height:1.2rem;
    }    



    /* PRODUCT Page Common */

     /* Container */

    .product_box {
        /* tablet */
        height:16rem;
        box-sizing:border-box;
        position:relative;
    }
    .product_box .img_box {
        /* tablet */
        width:calc(100% * 2/3);
        height:16rem;
    }
    .product_box > .txt_box {
        /* tablet */
        width:calc(100% * 2/5);
        height:12rem;
        margin:0 auto;
     }

    
      /* font */

    .product_box h3 {
        /* tablet */
       margin-bottom:.6rem;
       font-size:1rem;
    }
    .product_box p {
        /* tablet */
        font-size:.6rem;
    }    


    .product_event {
        /* tablet */
        height:16rem;
    }    

    
    /* HEADPHONE */

     /* Headphone Category */

    .headphone_category {    
        /*tablet*/
        background:url(../images/b00_category.jpg) no-repeat center center;
        background-size:cover;
    }

     /* Headphone Container */

       /* common */

    .headphone_wrap .product_box .img_box {
        /* tablet */
        position:absolute;
    }
    .headphone_wrap .product_box:nth-of-type(1) .img_box img {
        /* tablet */
        width:11rem;
    }
    .headphone_wrap .product_box:nth-of-type(2) .img_box img {
        /* tablet */
        width:9rem;
    }
    .headphone_wrap .product_box .txt_box {
        /* tablet */
        padding-top:1rem;
        position:absolute;    
        top: 50%;
        transform:translateY(-50%);
        z-index:100;
    }
    .headphone_wrap .txt_box a {
        /* tablet */
        margin-top:.6rem;
    }


      /* headphone con1*/

    #hp_con1 .img_box {
        /* tablet */
        left:10px;
    }
    #hp_con1 .txt_box {
        /* tablet */
        right:10px;
    }


      /* headphone con2 */

    #hp_con2 .img_box {
        /* tablet */
        right:10px;
    }
    #hp_con2 .txt_box {
        /* tablet */
        left:10px;
    }

      /* headphone event */
    
    #hp_event .txt_box {
        /* tablet */
        width:55%;
        height:14rem;
        padding:1rem;
        top:1rem;
    }
    #hp_event .txt_box h3 {
        /* tablet */
        font-size:1.4rem;
    }
    #hp_event .txt_box p {
        /* tablet */
        margin:.5rem 0;
        font-size:.7rem;
        line-height:1rem; 
    }
    #hp_event img {    
        /* tablet */
        left:10%;
        max-width:30%;
    }


    /* EVENT */

     /* Event Category */
    
    .event_category {
        /* tablet */
        background:url(../images/e03_category.jpg) no-repeat center center;
        background-size:cover;
    }
    
    
     /* Event Container */

    .event_box:first-of-type {
        /* tablet */
        margin-top:6rem;
    }
    .event_box {
         /* tablet */
        width:30rem;
        margin:0 auto;
        padding:0 2rem 2rem;
        box-sizing:border-box;
    }
    .event_box > span {
        /* tablet */
        padding:2rem 0 1rem;
        font-size:1.2rem;
    }
    .event_box .img_box {
        /* tablet */
        float:left;
        width:50%;
        
    }
    .event_box .txt_box {
        /*tablet*/
        width:50%;
        float:right;
        padding-left:1.6rem;
        box-sizing: border-box;
    }
    .event_box .txt_box h3 {
        /* tablet */
        font-size:1rem;
        margin-top:.6rem;
    }
    .event_box .txt_box h4 {
        /* tablet */
        font-size:.7rem;
        line-height:1.2rem;
        margin:.5rem 0;
    }
    .event_box .txt_box p {
        /* tablet */
        font-size:.6rem;
        line-height:1.2rem;
    }

    
    /* EARPHONE */

    .earphone_category { 
        /* tablet */ background:url(../images/c00_category.jpg) no-repeat center center;
        background-size:cover;
    }   

    
    /* SPEAKER */
    
    .speaker_category {    
        /* tablet */        background:url(../images/d00_category.jpg) no-repeat top center;    
        background-size:cover;
    }

    
    /* SUPPORT */
    
    .support_category {    
        /* tablet */        background:url(../images/e00_category.jpg) no-repeat center center;
        background-size:cover;
    }
    
    
    /* WAIT */
    
        .wait_wrap > div {
            /* tablet */
            margin:4rem 0;
        }

    
}/* Tablet end */